@media(max-width: 375px){
    .cart{
        .product-list-cart{
            .product-box{
                margin-bottom: 8.5px;
                border-bottom: none !important;
                .product-img{
                    width: 157px;
                    height: 106px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .product-name{
                    display: none !important;
                }
                .quantity{
                    display: none !important;
                }
                .price{
                    display: none !important;
                }
                .bin{
                    display: none !important;
                }
                .mobile-part-cart{
                    display: block !important;
                    p{
                        font: normal normal 300 20px/20px PingFang TC;
                        color: $primary-green;
                    }
                    span{
                        font: normal normal normal 16px/20px PingFang TC; 
                        margin-bottom: 8px;
                        color: $primary-green;
                    }
                    .quantity-mobile{
                        color: $primary-green;
                        span{
                            width: 48px;
                            height: 48px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $primary-grey;
                            cursor: pointer;
                            .num{
                                pointer-events: none;
                            }
                        }
                    }
                }
                
        }
        .mobile-part-2{
            margin-bottom: 30px;
            display: block !important;
            border-bottom: 1px solid $primary-grey;
            border-top: 1px solid $primary-grey;
            p{
                text-align: right;
                font: normal normal 600 20px/20px PingFang TC;
                color: $primary-green;
                padding: 8.5px 0;

            }
        }
    }

    }
    .order-summary{
        .order-summary-box{
            background-color: #fff;
            h2{
                background-color: $primary-grey;
                color: $primary-green;
            }
            .order-content,.order-total{
                color: $primary-green;
            }
        }
        .checkout-cart{
            display: none !important;
        }
        
    }
    .checkout-mobile{
        display: block !important;
        width: 100%;
        background-color: $primary-yellow;
        color: $primary-green;
        display: block;
        padding: 16px 0;
        font: normal normal 600 24px/20px PingFang TC;
    }
}

