@media(max-width: 375px){
    .checkout{
        margin-bottom: 0 !important;
        .container{
            padding: 0 !important;
        }
    }
    .order-summary-checkout,.checkout-product-list{
        display: none !important;
    }
    .w50{
        max-width: 153px !important;
    }

}