img{
    max-width: 100%;
    height: auto;
    display: block;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.text-vertical{
    -webkit-writing-mode: vertical-lr ;
	writing-mode: vertical-lr;
}