nav{
    padding: 30px 0;
    .mobile-nav{
        display: none;
        #check{
            display: none;
        }
    }
    .logo {
        // width: 220px;
        picture{
            display: block;
            width: 220px;
            height: 40px;
            source{
                width: 100%;
            }
        }
    }
    .nav{
        .nav-links{
            a{
                padding-left: 60px;
                color: $primary-green;
                font: normal normal 600 16px/73px PingFang TC;
            }
        }
        .cart{
            padding-left: 79px;
        }
    }
}

footer{
    .email{
        background-color: $primary-green;
        padding: 30px 0;
        .slogan{
            padding: 8px 0;
            img{
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }
            span{
                color: $primary-grey;
                font: normal normal normal 24px/29px Helvetica Neue;
            }
        }
        .input{
            .input-icon{
                background-color: #fff;
                width: 64px;
                height: 56px;
                padding: 16px 20px;
            }
            input{
                border: 0 !important;
                padding: 0 !important;
                height: 56px;
                max-width: 252px;
            }
            a{
                display: block;
            }
            .send-email{
                width: 64px;
                height: 56px;
                padding: 20px 24px;
                background-color: $primary-yellow;
            }
        }
    }   
    .footer{
        height: 341px;
        background-color: $secondary-green;
        padding: 30px 0;
        .container{
            height: 100%;
        }
        .content{
            height: 100%;
            img{
                width: 66%;
            }
            .contact{
                font: normal normal normal 16px/24px Helvetica Neue;
                color: $primary-green;
                p{
                    margin-bottom: 30px;
                }
                img{
                    width: 32px;
                }
            }
            .mobile-text{
                display: none;
            }

        }
        .footer-slogan{
            
            .text-align{
                width: 60px;
                // position: absolute;
                // left: 0;
            }
        }
    }
    
    
}