@media(max-width: 375px){
    nav{
        .logo{
            picture{
                width: 115px;
                height: 40px;
            }
            
            
        }
        .nav{
            .nav-links{
                display: none;
            }
        }
          
        
    }
    footer{
        // .container{
        //     padding: 0 !important;
        // }
        .email{
            padding: 30px 18px;
            .slogan{
                margin-bottom: 30px;
            }
            .input{
                justify-content: center !important;
                input{
                    max-width: 58%;
                }
            }
        }
        .slogan{
            .text-align{
                display: none !important;
            }
        }
        
    }

    
}