@media(max-width: 975px){
    .product-banner{
        .container{
            height: 30vh;
        }
    }
    
    .product{
    
        .page-turner{
            position: relative;
            right: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
}
