.product-banner{
    margin-bottom: 60px;
    .container{
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/banner.png?raw=true);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }
}

.product{
    margin-bottom: 150px;
    .container{
        // position: relative;
    }
    .category{
        margin-bottom: 30px;
        .title{
            font: normal normal 600 24px/40px PingFang TC;
            background-color: $primary-green;
            color: #fff; 
            padding: 16px 102px;
        }
        .choice{
            font: normal normal 600 24px/40px PingFang TC;
            color: $primary-green;
            border: $primary-grey 1px solid;
            display: block;
            width: 100%;
            padding: 16px 0;
            &:hover{
                background-color: $primary-grey;
            }
        }
    }
    .product-list{
        .product-card{
            margin-bottom: 20px ;
            .card-body{
                position: relative;
                .card-body-img{
                    width: 100%;
                    // width: 300px;
                    // height: 315px;
                    img{
                        width: 100%;
                        // max-height: 100%;
                    }
                }
                .bookmark{
                    background-color: $primary-green;
                    color: #fff;
                    font: normal normal 600 16px/20px PingFang TC;
                    writing-mode: vertical-rl;
                    padding: 10px;
                    position: absolute;
                    top: 0;
                    left: 20px;
    
                }
                .icon img{
                    width: 20px;
                    height: auto;
                    position: absolute;
                    top: 19px;
                    right: 22px;
                    z-index: 5;
                }
            }
            .card-info {
                .desert-info{
                    padding: 14px 33px;
                    border-left: 1px solid $primary-grey;
                    border-right: 1px solid $primary-grey;
                }
                .desert-price{
                    width: 42%;
                }
                .desert-name{
                    width: 58%;
                }
                p{
                    font: normal normal 300 20px/20px PingFang TC;
                    color: $primary-green;
                }
            }
            .add-to-cart{
                display: block;
                width: 100%;
                font: normal normal 600 24px/20px PingFang TC;
                color: $primary-green;
                background-color: $primary-grey;
                padding: 16px 0;
            }
        }

    }
    .page-turner{
        position: absolute;
        right: 120px;
        // direction: rtl;
        // .page-links{
        //     flex-direction: row-reverse;
        // }
        a{
            // display: inline-block;
            width: 60px;
            height: 60px;
            border: $primary-grey 1px solid;
            padding: 16px 0;
            font: normal normal 600 20px/20px PingFang TC;
            color: $primary-green;
            
        }
        .page-index:hover{
            background-color: $primary-green;
            color: #fff;
        }
    }
}

