@import "reset";
@import "variables";
@import "common";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


@import "layout-pc";
@import "layout-mobile";

@import "index-pc";
@import "index-mobile";
@import "product-pc";
@import "product-mobile";
@import "login-pc";
@import "login-mobile";
@import "cart-pc";
@import "cart-mobile";
@import "checkout-pc";
@import "checkout-mobile";











$color: #00cc99;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
